.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7cd452;
    border-radius: 8px;
    padding: 16px;
    margin: 4px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.wild {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7cd452;
    padding: 16px;
    margin: 4px;
    width: 300px;
}

.text {
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 8px 0px;
    font-weight: bold;
}

.notseen {
    width: 96%;
    height: 40%;
    object-fit: contain;
    filter: brightness(0);
    image-rendering: pixelated;
}

.seen {
    width: 96%;
    height: 40%;
    object-fit: contain;
    filter: brightness(1);
    image-rendering: pixelated;
}

.types {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
}