.footer{
    background-color: #2e8d02;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: white;
}

.profileLink:link{
    color:#c8ff00
}
.profileLink:visited{
    color:#18d118
}